.container {
  margin: 0 auto;
  width: 768px;
}

.content {
  float: right;
  width: 83%;
  height: 550px;
  border-bottom: 2px black solid;
}

.content section {
  padding-left: 20px;
  text-align: justify;
  text-justify: inter-word;
  width: 94%;
}

.content h2 {
  padding-left: 20px;
}

.footer {
  width: 81%;
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  display: block;
  margin: 0 auto;
}

header {
  background-color: black;
  float: left;
  width: 100%;
}

nav {
  background-color: grey;
  float: left;
  width: 17%;
  height: 550px;
  border-bottom: 2px black solid;
}

nav ul {
  padding-top: 4px;
  text-align: center;
  padding-left: 0px;
}

nav ul li {
  position:relative;
  display:inline-block;
  font-size: 18px;
  width: 130px;
  height: 24px;
  padding-top: 5px;
}

nav ul li:hover {
  background-color: black;
}

nav ul li a {
  text-decoration: none;
  text-align: center;
  color: white;
}


